*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  width: 100%;
  /*background-color: lightcoral;*/
}
.tieude {
  text-align: center;
  margin: 20px 0;
}
.bieumau {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}
.bieumau .input {
  flex: 1;
  padding: 10px;
}
.bieumau .nutbam_them {
  flex-basis: 100px;
  padding: 10px;
  cursor: pointer;
}
.danhsach {
  list-style: none;
}
.danhsach .dscon {
  /*background-color: lawngreen;*/
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.danhsach .dscon.danhdau {
  text-decoration: line-through;
  background-color: pink;
}
.nutbam {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.nutbam_1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgb(69, 221, 95);
  color: rgb(69, 221, 95);
  cursor: pointer;
}
.nutbam_1.tick {
  background-color: rgb(69, 221, 95);
  color: white;
}
.nutbam_2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid red;
  color: red;
  cursor: pointer;
}
.nutbam_xoa {
  padding: 10px 30px;
  font-size: 20px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid rgb(218, 72, 97);
  color: rgb(218, 72, 97);
}

.nutbam_xoa:focus {
  outline: none;
}
